.home{
    background-color: rgba(87, 103, 133, 0.285)
}
.homesection{
    height:7rem;
    background-color:rgb(255, 255, 255);
    padding: 1rem;
    /* background-image: "https://images.pexels.com/photos/3746149/pexels-photo-3746149.jpeg?auto=compress&cs=tinysrgb&w=600"; */
}